@import '../../colors.scss';


.button{
    box-sizing: content-box;
    border: none;
    border-radius: .2em;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    height: 3em;
    display: block;
    transition: background 300ms ease-in-out;
    &:hover{
        background-color:$light__blue;
    }
}