
@import '../../mixins.scss';
@import '../../colors.scss';

.questionnaire{
    display: flex;
    align-items: center;
    justify-content: center;
    .sv_main{
        font-size: 20px;
    .sv_body{
        border-top: 2px solid $dark__blue;
    }
}
    .sv_main input[type="button"]{
        @include default-button
    }
}