@import "../../mixins.scss";
@import "../../colors.scss";

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  .sv_main {
    font-size: 20px;
    .sv_body {
      border-top: 2px solid $blue;
    }
  }
  .sv_main input[type="button"] {
    @include default-button;
  }
  .sv_main .sv_q_rating_item.active .sv_q_rating_item_text {
    background-color: $blue;
    &:hover {
      border: 1px solid $blue;
    }
  }
}
