@import "../../colors.scss";

.page-qr {
  height: 100%;
  background: $gray;
  &__wrap{
    height: 100%;
  }
  &__reader {
    width: 100%;
    height: 100%;
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50%;
      section {
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding-top: 0 !important;
        img{
          position: relative;
        }
      }
    }
  }
}
