.button-browser{
    flex-direction: column;
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: .2em;
    background: #518ed0;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 1.1rem;
    height: 3em;
    svg{
        fill: #fff;
        width: 30px;
        height: 30px;
    }
}