@import '../../colors.scss';

.button-browser{
    flex-direction: column;
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: .2em;
    background: $blue;
    color: $white;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
    transition: background 300ms ease-in-out ;
    svg{
        fill: $white;
        width: 30px;
        height: 30px;
    }
    &:hover{
        background: $light__blue;
    }
}