$brown: #786a68;
$beige: #ffe4df;

$light__blue: #85c6f4;
$blue: #518ed0;
$dark__blue: #1464c0;
$darkest__blue: #0d47a1;

$white: #fff;
$gray: #f0f0f0;
$medium__gray: #cdd1da;
$dark__gray: #777;
$black: #000;

$light__red: #e57373;
$red: #ef5350;

$green: #00897b;
$light__green: #26a69a;
