//ALL COLORS
$brown: #786A68;
$beige: #FFE4DF;

$light__blue: #85C6F4;
$blue: #518ED0;
$dark__blue: #1464C0;
$darkest__blue: #0D47A1;

$white: #fff;
$gray: #F0F0F0;
$medium__gray: #CDD1DA;
$dark__gray: #777;
$black: #000;

$light__red: #E57373;
$red: #EF5350;

$green: #00897B;
$light__green: #26A69A;